:root {
  --header-color: rgb(157, 252, 232);
  --header-text-color: rgb(36, 44, 98);
  --header-hover: rgb(148, 0, 211);
  --plain-text: rgb(33, 33, 33);
  --bg-color: rgb(250, 250, 250);
  --contact-text: rgb(169, 169, 169);
}

/*Start of Mission & Vision Section*/
.MisVis {
  width: 100%;
  background-image: url(/assets/Background/PosExp.webp);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Mission,
.Vision {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 40px;
}

.dets > h3 {
  font-size: 50px;
  padding: 30px;
  color: var(--header-text-color);
}
.dets > p {
  font-size: 2em;
  color: var(--plain-text);
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.main-images > img {
  border-radius: 20px;
}
.story-details {
  padding: 50px;
}
.story-details > h3 {
  text-align: center;
  font-size: 4em;
  padding: 30px;
  color: var(--header-text-color);
  font-weight: 600;
}
.story-details > p {
  text-align: center;
  padding: 0px 50px 80px 50px;
  font-size: 23px;
  color: var(--plain-text);
}
/*End of Mission & Vision Section*/

/*Start of Founders*/
.Founder{
    width: 100%;
    background-image: url('/assets/Background/Home-Background.webp');
}

.founder-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.founder-titles{
    font-weight: 600;
    font-size: 4em;
    color: var(--header-color);
   
    padding: 30px;
}
.founders-img > img{
    border-radius: 20px;
}
.name{
    color: var(--header-color);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.position{
    text-align: center;
    color: var(--bg-color);
    padding-bottom: 10px;
}

/*End of Founders*/


@media (width < 720px) {
  .Mission {
    flex-wrap: wrap;
  }
  .Vision {
    display: flex;
    flex-direction: column-reverse;
  }
  .dets > p {
    text-align: justify;
    font-size: 1.5em;
    padding-bottom: 20px;
  }
  .main-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-images > img {
    width: 450px;
    border-radius: 20px;
  }
  .dets > p {
    padding: 10px;
  }
  .dets > h3 {
    padding: 10px;
  }

  /*Start of Founders*/

  .founder-container{
    flex-direction: column;
  }
  .founder-titles{
    font-size: 3em;
    text-align: center;
    
  }
}
@media (width < 420px) {
  .main-images > img {
    width: 300px;
  }
}
