:root {
  --header-color: rgb(157, 252, 232);
  --header-text-color: rgb(36, 44, 98);
  --header-hover: rgb(148, 0, 211);
  --plain-text: rgb(33, 33, 33);
  --bg-color: rgb(250, 250, 250);
  --contact-text: rgb(169, 169, 169);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.titled > h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 2.5em;
  color: var(--header-text-color);
}
.point-of-sale,
.airline-printer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pos-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}
.product-title {
  font-size: 1.7em;
}
.brochu {
  width: 300px;
  padding: 10px;
}
.fujit {
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  color: var(--header-text-color);
  margin: 10px;
  border: 1px solid black;
}
.fujit:hover {
  color: var(--contact-text);
}
.downloads {
  text-align: center;
}
.downloads > h2 {
  margin-bottom: 20px;
}
.main-down {
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.open-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: none;
  color: white;
  margin-bottom: 25px;
}
.open-img.active {
  display: flex;
}

.open-img > img {
  margin-top: 20px;
}
.close-img {
  position: fixed;
  top: 25px;
  right: 32%;
  cursor: pointer;
  z-index: 100;
  font-size: 22px;
}
.hidden-img {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #3a4a6da9;
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.breaks {
  height: 20px;
}
@media (max-width: 650px) {
  .breaks {
    height: 80px;
  }
  .open-img > img {
    width: 300px;
    margin-top: 0;
  }
  .close-img{
    top: 25px;
    right: 12%;
  }
}
